
<div class="row">
  <div class="col-12 col-xs-12 col-md-12 col-xxl-12">

    <div class="logo-and-button-section">
        {% comment %} <img src="{{ 'new-bgd_01.jpg' | asset_url }}" class="img-fluid hp-logo_new" alt="" > {% endcomment %}
        <img src="{{ section.settings.cover_img | image_url }}" class="img-fluid hp-logo_new" alt="" >
        

        <div class="cta-btn-container">
            {% comment %} <a href="/collections" class="btn btn-lg fw-bold hp-btn" role="button" >SHOP NOW</a> {% endcomment %}
            <a href="/collections" class="btn btn-lg fw-bold hp-btn" role="button" >{{ section.settings.button_text }}</a>
        </div>

    </div>
  </div>
</div>




{% schema %}
{
    "name": "Cover Image and Button",
    "class": "logo-and-button-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "cover_img",
        "label": "Cover Image"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      }
    ]
}
{% endschema %}