
<div class="row">
<div class="col-12 col-xs-12 xol-md-12 col-xxl-12">


    <div class="logo-and-button-section">
        <!-- OTWD hide HP large logo
        <img src="{{ 'Logo-980x1039.png' | asset_url }}" alt="Logo" class="img-fluid hp-logo" id="hp_img_001">
        -->
        <img src="{{ 'new-bgd_01.jpg' | asset_url }}" class="img-fluid hp-logo_new" alt="" >

        <div class="cta-btn-container">
            <a href="/collections" class="btn btn-lg fw-bold hp-btn" role="button" >SHOP NOW</a>
        </div>



    </div>
</div>
</div>




{% schema %}
{
    "name": "Logo and Button",
    "class": "logo-and-button-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Shop Now"
      }
    ]
}
{% endschema %}