/* General */
#main-menu-container{padding-left: 0px !important;}
@media screen and (max-width: 749px){
  main{padding-top: 2rem !important;}
  .navbar-nav .nav-link{margin-right: 0px;}
  .navbar-nav #plus{margin-left: 0px; padding-left: 5px !important; color: #fff !important;}
}

/* Collections Page */
.hp-coll-desc .color-swatch{border-radius: 25px;}
.hp-coll-desc .price__container{margin-top: 10px;}
@media screen and (min-width: 750px){
  #shopify-section-template--17175348052248__aecdee7d-1eaf-43cd-9d89-9ed662271239 h1{display: none;}
}

/* Collection Page */
#shopify-section-template--17175348052248__main .section-holder{margin: 2rem auto;}
  .product-box{margin-bottom: 2.5rem !important;}
  .product-img-container{margin-bottom: 1rem !important;}
    .product-img-container img {width: 520px !important;}
  .product-desc-box a{text-transform: uppercase; font-weight: 500;}
@media screen and (max-width: 749px){
  #shopify-section-template--17175347757336__17babc67-ffef-4319-af02-aa14409dd31b h1{margin-bottom: 2.5rem;}  
}
@media screen and (min-width: 750px){
  #shopify-section-template--17175347757336__17babc67-ffef-4319-af02-aa14409dd31b h1{display: none;}
}


/* Single Product */
.product__image-thumbnail .is-selected{border: 1px solid #212529; padding: 5px;}
.product__info-container h3{margin-top: 20px;}
.product__info-container .sizes label{margin-top: 0px !important;}
.button.product-popup-modal__button{font-size: 1.2rem !important;}
.product__info-container .sizes:nth-child(2) .color-swatch{width: 40px !important; height: 40px !important; border-radius: 25px !important; border: none !important;}
  .product__info-container .sizes:nth-child(2) .color-swatch:before{border-radius: 25px !important;}
.product .product-form{margin-bottom: 1rem !important;}
  .add-bag-btn{margin-top: 0px !important; margin-bottom: 0px !important;}
.product__info-container .product__description{font-size: 13px; margin-top: 0px !important;}
  .product__info-container .product__description p{margin-bottom: 5px;}
.related-products .col-6{margin-bottom: 40px;}
.related-products-heading{padding-left: 31px}
.related-products h3{font-size: 1.15rem !important;}

@media screen and (min-width: 815px){
.product-popup-modal .product-popup-modal__content{margin-top: 8rem !important;}
  .product-popup-modal .product-popup-modal__content .product-popup-modal__toggle{width: 45px !important; padding: 0.8rem !important;}
  .product-popup-modal .product-popup-modal__content .product-popup-modal__content-info{padding-right: 0px !important;}
    .product-popup-modal .product-popup-modal__content .product-popup-modal__content-info h1{text-align: center; margin: 20px 0 !important;}
}

@media screen and (min-width: 750px) and (max-width: 814px){
.product-popup-modal .product-popup-modal__content{width: 85% !important; margin-top: 8rem !important;}
  .product-popup-modal .product-popup-modal__content .product-popup-modal__toggle{width: 45px !important; padding: 0.8rem !important;}
  .product-popup-modal .product-popup-modal__content .product-popup-modal__content-info{padding-right: 0px !important;}
    .product-popup-modal .product-popup-modal__content .product-popup-modal__content-info h1{text-align: center; margin: 20px 0 !important;}
}

@media screen and (max-width: 749px){
.product-popup-modal .product-popup-modal__content{padding: 0px 20px !important;}
  .product-popup-modal .product-popup-modal__content .product-popup-modal__toggle{width: 45px !important; padding: 0.8rem !important;}
  .product-popup-modal .product-popup-modal__content .product-popup-modal__content-info{padding-right: 0px !important;}
    .product-popup-modal .product-popup-modal__content .product-popup-modal__content-info h1{text-align: center; margin: 20px 0 !important;}
.product-desc-box{margin-top: 10px;}
}

/* Inner pages */
@media screen and (min-width: 750px){
  .section-template--18226735350040__main-padding {
    padding-top: 10px !important;
    padding-left: 50px !important;
  }
}

/* Lookbook */
@media screen and (min-width: 750px){
  .shogun-root{padding-left: 50px;}
}

/* Login*/
.login .login-info:nth-child(1){display: none;}

/* Contact + Login Forms */
#ContactForm, #customer_login{
  width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 750px){
  #ContactForm .field__label{font-size: 16px;}
  #ContactForm #selectOption{font-size: 16px !important;}
}

@media screen and (max-width: 749px){
  #ContactForm, #customer_login{width: 100%;}
  #ContactForm #selectOption{font-size: .8rem !important; padding-left: 1.6rem !important;}
}

/* Cart */
@media screen and (min-width: 750px){
  #shopify-section-template--17175347626264__cart-items .quantity{padding: 0 15px;}
}
@media screen and (max-width: 749px){
  #shopify-section-template--17175347626264__cart-items .title{font-size: 1.5rem;}
  #shopify-section-template--17175347626264__cart-items .underlined-link{font-size: 0.8rem; line-height: 1.7rem;}
  .cart-items thead th{font-size: 0.875rem !important; padding-bottom: 15px !important;}
  .cart-item__image{max-width: 100px !important;}
  .cart-item__details dl .product-option:nth-child(2) dt{display: none !important;}
  .cart-item__name, .product-option, .cart-item__totals .price{font-size: 14px !important;}
  .cart-item__totals .price{line-height: normal !important;}
  .cart-item__quantity .quantity{max-height: 2.5rem !important; padding: 0 10px !important;}
    .cart-item__quantity .quantity .quantity__button{width: 12px !important;}
    .cart-item__quantity .quantity .quantity__input{font-size: 16px !important;}
  .totals__subtotal, .totals__subtotal-value{font-size: 1rem !important;}
  .totals__subtotal-value{margin-left: 15px !important;}
  .tax-note{font-size: 0.8rem !important; margin-top: 10px !important;}
  .cart__checkout-button{font-size: 1.250rem !important; width: 90% !important;}
}

/* Footer */
@media screen and (max-width: 749px){
  footer{position: relative !important;}
    .logo-footer{display: none;}
    .footer ul {font-size: 0.5rem;}
}
@media screen and (min-width: 750px){
  .logo-footer{max-width: 50px !important;}
  .footer-link{font-size: 14px !important;}
}