/* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
} */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
  --theme-font: 'Orbitron', sans-serif;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
html {
  font-size: 1rem;
}
body {
  font-family: var(--theme-font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
main {
  padding-top: 5rem;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5 {
  font-family: var(--theme-font);
}
.h2 {
  margin-bottom: 1.6rem;
}
section {
  margin-bottom: 4rem;
  top: 1rem;
  position: relative;

}
.section-holder {
  position: relative;
  margin: 6rem auto;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  /* border: 1px solid var(--bs-gray-900);
  border-radius: 0.25rem; */
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.togg-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
header {
  top: 0;
  width: 100%;
}
.header__icon, .header__icon--cart .icon {
  height: 3rem;
  width: 4.4rem;
  padding: 0;
}
.sticky {
  left: 0;
  margin: auto;
  position: fixed !important;
  /* box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07); 
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);*/
  z-index: 999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;  
  background: #fff;
}
header h1 {
  color: var(--bs-gray-900);
  margin-top: 1rem;
  text-align: center;
  /*margin-left: 16%;
   float: right; */
}
.log-container {
  position: absolute;
  top: .5rem;
  right: 1rem;  
}
.link, .customer a {
  text-transform: uppercase;
  font-size: 1rem !important;
  text-decoration: none;
}
.log-container .link:hover {
  text-decoration: underline;
  color: var(--bs-gray-600);
}

/* footer ul {
  left: 25rem;
}
.footer-img-box {
  position: absolute;
  left: 5%;
}
.footer ul li {
  margin-left: 1rem;
} */

.theme-bgd footer {
  display: none !important;
}
footer ul.footer-links {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
ul.footer-links li.list-inline-item:not(:last-child) {
  margin-right: 1.5rem;
}
.hp-title-link {
  color: #130c0c;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 576px) {
    header {  
    height: 5rem;
    }
    .hp-title-link {
      float: left;
      top: 0.6rem;
      left: 1rem;
      position: relative;
      font-size: 1.2rem;
    }
    .log-container {
      position: relative;
      top: 2rem;
    }
    .log-container a {
      position: fixed;
    }
    .log-container a:last-child {
      margin-left: 1rem;
    }
    .login {
      left: 3.6rem;
      font-size: 1.2rem !important;
      margin: .7rem 0;
      text-decoration: none;
    }
    .login:hover,
    .login:active {
      text-decoration: underline;
      color: var(--bs-gray-600);
    }
    .hp-logo {
      max-width: 50% !important;
      top: 50% !important;
    }
    .footer ul {
      left: 0;
      font-size: 0.6rem;
      margin-top: 1rem;
      transform: none !important;
      top: auto !important;
      position: relative !important;
    }
    ul.footer-links li.list-inline-item:not(:last-child) {
      margin-right: 1rem;
    }
    .header__icon, .header__icon--cart .icon {
    height: 3rem;
    width: 3rem;
    padding: 0;
    }
    .header__icon:not(.header__icon--summary), .header__icon span {
      display: inline-block;
    }
}
.offcanvas {
  background-color: var(--bs-gray-900);
}
.offcanvas-end {
  width: auto !important;
}
.offcanvas-header {
  justify-content: end;
}
.offcanvas-header .btn-close {
  color: #fff !important;
}
.offcanvas-header .btn-close {
  background: none !important;
  margin-right: 1rem;
  padding: 0;
  opacity: 1;
  width: auto;
  height: auto;
}
.btn-close i {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}
.offcanvas-body nav ul li a {
  padding: 0.5rem 0 0.5rem 1rem !important;
  margin: 0 4rem 0 1rem;
  color: #fff;
}
.mobile-menu-soc {
  margin-right: 1rem;
}
.mobile-menu-soc a {
  color: #fff;
  font-weight: bolder !important;
  font-size: 2rem;
}
.mobile-menu-soc a:hover,
.mobile-menu-soc a:focus {
  color: var(--bs-gray-600) !important;
  text-decoration: none;
}
.hp-title-link:hover,
.hp-title-link:focus {  
  color: var(--bs-gray-600);
}
.cart-count-bubble {
  height: 1.4rem;
  width: 1.4rem;
  left: .225rem;
  top: .8rem;
  font-size: .8rem;
}
/*left main menu*/
.main-nav-container {
  width: 10rem;
  height: auto;
  display: block;
  position: sticky;
  float: left;
  top: 120px;
 /*  left: 2rem; */
}
.hp-hide {
  display: none;
}
.theme-bgd nav ul li a {
  color: #fff;
}
#collapseExample ul.list-unstyled li a {
  font-size: 1rem;
  left: 1rem;
  position: relative;
}
nav ul li a {
  color: #130c0c;
}
.theme-bgd .main-nav,
.main-nav {
  width: max-content;
  text-transform: uppercase;
}
.theme-bgd nav ul li a,
nav ul li a {
	display: block;
	padding: 0.5rem 0 0.5rem 1rem;	
	text-decoration: none;
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}
.theme-bgdnav ul li a:hover {	
	color: #130c0c;
}
nav ul li a:hover {	
	color: var(--bs-gray-600);
}
.theme-bgd .sub-menu ul,
.sub-menu ul {
  margin-left: 20px;
  width: max-content;
}
.theme-bgd .sub-menu ul li a,
.sub-menu ul li a {
  font-size: 0.8rem;
  font-weight: 100;
}
.cta-btn-container {
  /* top: 10rem; */
  position: fixed;
  top: 84%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  .theme-bgd {
    /* background-image: url(../assets/mobile-bgd.jpg) !important; */
  }
  .hp-logo-header {
    width: 40px;
    float: left;
    left: 10% !important;
  }
  .login-sm-dvc {
    display: none;
  }
  .hp-header {
    padding-left: .7rem;
  }
}
.hp-btn {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
  color: var(--bs-gray-900);
  width: 100%;
  border: 1px solid var(--bs-gray-900);
}
.hp-btn:hover,
.hp-btn:focus {
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
  border: 1px solid var(--bs-gray-900);
}
.theme-bgd {
  background-image: url(../assets/hp-background-1920x1080_v02.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  /* height: 81.25vh; */
}
.theme-bgd .main-section {
  padding-top: 6rem;
}
body.theme-bgd header.sticky {
  background-color: transparent;
}
body.theme-bgd header.hp-header {
  display: block;
}
body.theme-bgd header.cp-header,
header.hp-header {
  display: none;
}
.cp-header h1 {
  text-align: center;
}
.hp-logo {
  max-width: 300px;
  /* margin-top: 4rem; */
  position: fixed;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hp-logo-header {
  max-width: 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;
}

.theme-bgd .footer__content-top {
  display: none;
}
.logo-footer {
  float: left;
  max-width: 70px;
  padding: 1rem;
  margin-right: 1.5rem;
}
.footer-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
  color: var(--bs-gray-600);
}
.btn-primary,
.coll-btn,
.add-bag-btn,
.contact-btn {
  text-transform: uppercase !important;
  padding: 0.5rem !important;
  color: var(--bs-gray-900) !important;
  border: solid 1px var(--bs-gray-900) !important;
  background-color: #fff !important;
  margin-bottom: 3rem !important;
}
.coll-btn {
  width: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 0 !important;
}
.add-bag-btn {
  width: 100%;
  border-radius: 0;
}
.contact-btn {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.btn-primary:hover,
.btn-primary:focus,
.coll-btn:hover,
.coll-btn:focus {
  background-color: var(--bs-gray-600);
  border: solid 1px var(--bs-gray-900);
  color: #fff;
}
.collection-data {
  color: var(--bs-gray-900);
  position: relative;
}
/* .collection-data .collection-img {
  max-width: 200px;
} */
.collection-img-container {
  /* margin-bottom: 7rem; 
  width: 150px;*/
  height: auto;
}
.collection-img-container img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.collection-pg-product-link {
  color: var(--bs-gray-900);
  text-decoration: none;
}
.collection-pg-product-link.active {
  font-weight: 800;
  text-decoration: underline;
}
.collection-pg-product-link:hover,
.collection-pg-product-link:active {
  text-decoration: underline;
  color: var(--bs-gray-900);
}
.collection-name {
  text-transform: uppercase;
}
.hp-coll-desc {
  position:relative;
  top: 3rem;
  width: 100%;
  margin-bottom: 8rem !important;
}
.hp-coll-desc ul {
  font-size: 0.8rem;
  text-align: center;
}
.about-img {
  border: none !important;
}
.rte h2,
.rte h3 {
  color: var(--bs-gray-900);
}
.rte .btn-lg {
  border-radius: 0;
}
/* .collection-container ul {
  bottom: 5px;
} */
.product-grid {
  display: inline-flex;
}
.product-box {
  padding: 1rem 2rem;
  position: relative;
}
.product-box .product-desc-box {
  text-align: center;
}
.product-img-container {
  position: relative;
  width: auto;
  margin-bottom: 2rem;
}
.product-img-container-all {
  position: relative;
  margin-bottom: 2rem;
  width: auto;
  height: 140px;
}
.product-img-container img {
  width: 320px;
}
.img-all-products {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-media-container {
  width: 210px;
  height: auto;
}
.product-media-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}


.global-media-settings {
  border: none;
}


.product__description tr {
  vertical-align: top;
}
.text-area {
  font-family: var(--theme-font);
}



h3.all-product-title,
.all-product-price {
  font-size: 1rem !important;
}
.product-desc-box {
  position: relative;
}
.product-desc-box ul li a {
  text-decoration: none;
  font-size: .8rem;
  color: var(--bs-gray-900);
}
.product-desc-box ul li a:hover,
.product-desc-box ul li a:active {
  text-decoration: underline;
  color: var(--bs-gray-600);
}
.product-desc-box h3,
.product-recommendations__heading {
  font-size: 1.5rem;
  color: var(--bs-gray-900);
}
.product-desc-box ul li::after {
  content: '|';
  margin-left: .5rem;
}
.hp-coll-desc .list-inline-item:not(:last-child) {
  margin-right: 0;
}
.hp-coll-desc ul li::after {
  content: '|';
  margin-left: .1rem;
  margin-right: .1rem;
}
.product-desc-box ul li:last-of-type::after,
.hp-coll-desc ul li:last-of-type::after {
  display: none;
}
span.price {
  position: relative;
  line-height: 3rem;
}
.price--large {
  font-size: 1rem !important;
}
.full-unstyled-link {
  text-decoration: none;
  font-size: .8rem;
  color: var(--bs-gray-900);
}
.full-unstyled-link:hover,
.full-unstyled-link:active,
.full-unstyled-link:focus {
  text-decoration: underline;
  color: var(--bs-gray-600);
}
.card-information .price {
  font-size: 1rem !important;
}
.sizes label {
  border: solid var(--bs-gray-600) 1px;
  background-color: #fff;
  display: inline-block;
  margin-top: 0.7rem;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  transition: border 0.1s ease;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  width: 56px;
  height: 34px;
}
.sizes input[type='radio'] {
  clip: rect(0,0,0,0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.sizes input[type='radio']:checked + label {
  background-color: var(--bs-gray-900);
  color: var(--bs-gray-600);
}
.sizes input[type='radio'] + label:hover {
  border-color: var(--bs-gray-600);
}
.product-description-box ul li {
  margin-top: 1rem;
}
.sizes {
  margin-bottom: 2rem;
}
.form-status.form-status-list.form__message {
  margin: 0;
}



.spaceholder {
  position: relative;
  height: 100px;
  width: auto;
}


@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
.card {
  padding: 0 2rem;
  border: none;
}
.card-img {
  width: 100px;
  height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.card-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--bs-gray-600);
}


slider-component .slider-buttons {
  display: none;
}








.cart-notification-wrapper {
  z-index: 9999;
}


.login-info {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.login-info a {
  display: inline !important;
}
.txt-link {
  color: var(--bs-gray-900);
  text-decoration: underline;
}
.txt-link:hover, .txt-link:focus {
  color: var(--bs-gray-600);
  text-decoration: none;
}
.field__label, .customer .field label {
  font-size: 1.4rem;
}
.field__input, .select__select, .customer .field input, .customer select {
  height: auto;
  font-size: 1.4rem;
}
.field__input, .customer .field input {
  padding: 1rem;
  margin: auto;
}
.contact {
  max-width: 44.8rem;
  margin: 0 auto;
}


.product__info-wrapper {
  padding: 0 0 0 2rem !important;
}
table:not([class]) {
  box-shadow: none;
}
table:not([class]) td, table:not([class]) th {
  border: none;
}
table:not([class]) {
  border-collapse: collapse;
  font-size: 1rem;
}
table td {
  padding-left: .2rem !important;
  padding-right: .2rem !important;
  /* overflow-x: auto; */
}
.product-media-modal,
.product-media-modal__toggle {
  top: 5rem !important;
}

@media (max-width: 576px) {
  section {
   /*  margin-bottom: auto; */
    margin-bottom: 4rem;
  }
  h3.all-product-title,
  .all-product-price {
    font-size: 0.8rem !important;
  }
  .product-box {
    padding: initial;
  }
  .product-img-container-all {
    width: 180px;
    height: 180px;
  }
  .slider-buttons {
    display: none;
  }
  .product__info-wrapper,
  .page-width {
    padding: 0 !important;
  }
  .row .collection-data:first-child {
    padding-top: 0;
  }
  .row .collection-data {
    padding-top: 6rem;
  }
  .cart-count-bubble {
    height: 1.4rem;
    width: 1.4rem;
    left: .25rem;
    top: .9rem;
    font-size: 0.8rem;
  }
  .field__label, .customer .field label {
    font-size: 0.8rem;
  }
  .contact {
    padding-bottom: 6rem;
  }
}
.rare-btn {
  padding: .8rem 1.4rem !important;
}

.flickity-enabled:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 0.3rem rgb(var(--bs-white)), 0 0 0.5rem 0.4rem rgba(var(--bs-white), 0.3);
}


.hide-blck-img {
  display: none;
}


/*Zoom product img*/
/*#zoom img.flickity-lazyloaded {
  transition: 0.7s ease all;
  -webkit-transition:0.7s ease all;
  -moz-transition:0.7s ease all;
}
#zoom img.flickity-lazyloaded:hover {
  -moz-transform: scale(2.5);
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  cursor: zoom-in;
}*/



/*Cart page*/

a.cart-item__name,
.product-option,
span.price,
.cart-item__quantity-wrapper {
  font-size: 1rem;
  color: var(--bs-gray-900);
}
a.cart-item__name:hover,
a.cart-item__name {
  font-size: 1rem;
  color: var(--bs-gray-900);
}

@media screen and (max-width: 749px) {
  .cart-item {
      gap: 0.5rem !important;
  }

}

.quantity__button {
  width: auto;
}